
*{
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
}
body{
    perspective: 1000px;
     background-color: #444;
}
.naremancard{
    width: 400px;
    height: 620px;
    margin: 50px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
.naremancard:hover{
     transform: rotateY(180deg);
}
.naremancard > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #777;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: arial, tahoma;
    text-align: center;
}
.naremancard .naremanfront{
    z-index: 2;
 backface-visibility: hidden;
}

.naremancard .naremanfront header{
    background-color: darkgreen;
    width: 100%;
    height: 80px;
    margin-bottom: 55px;
    border-radius: 10px 10px 0 0;
    
}
.naremancard .naremanfront img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    top: 25px;
}
.naremancard .naremanfront h3{
    margin-bottom: 20px;
}
.naremancard .naremanfront p{
 margin: 0 auto;
   
    line-height: 1.7;
}

.naremancard .naremanfront span{
   margin-top:75px;
    display: inline-block;
    color: #60Ac37;
    font-weight: bold;
}

.naremancard .naremanback{
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
   
}
.naremancard .naremanback ul{
    list-style: none;
    padding: 0;
    line-height: 2;
}
.naremancard .naremanback ul li{
    color: #444;
}
.naremancard .naremanback ul li span{
   color: #60Ac37;
    font-weight: bold;  
}
.naremancard .naremanback h3{
    color: darkgreen;
  margin-bottom: 3px;  
}
.naremancard .naremanback p{
  margin: 0 auto;
   
    line-height: 1.2;  
}
.naremancard .naremanback .date{
    color: chartreuse;
    margin-bottom: 2px;
}
.naremancard .naremanback .tr{
    color: darkgreen;
    margin-bottom: 2px;
}
.naremancard .naremanback .com{
    color: darkolivegreen;
}











